{% extends 'layout.html' %}
{% block content %}
  <div class="content-section">
    <form method="post" class="form" action="/guides/{{guide.id}}/edit">
      <h3 class="form-heading">Edit Guide <strong>{{ guide.name }} {{ guide.surname }}</strong></h3>
      <div class="form-group">
        <label for="name">Name</label>
        {{ form.name(class = 'form-control', autofocus = true) }}
      </div>

      <div class="form-group">
        <label for="surname">Surname</label>
        {{ form.surname(class = 'form-control', autofocus = true) }}
      </div>

      <div class="form-group">
          <label for="phone">Phone</label>
          {{ form.phone(class = 'form-control', placeholder='+370', autofocus = true) }}
        </div>
      <div class="form-group">
          <label for="email">Email</label>
          {{ form.email(class = 'form-control', autofocus = true) }}
        </div>
      <input type="submit" value="Update" class="btn btn-primary" style="background-color: #20407b;">
    </form>
  </div>
{% endblock content %}
