{% extends 'layout.html' %}
{% block content %}
<div class="content-section pt-4">
	<div class="media">
		<img class="rounded-circle account-img" src="{{ guide.image_file }}" alt="Guide Image">
		<div class="media-body">
			<h2 class="account-heading">{{ guide.name }} {{ guide.surname }}</h2>
			<p class="text-secondary form-group">
				<strong>ID: </strong>{{ guide.id }}<br>
				{% if guide.phone %}<strong> Phone: </strong>{{ guide.phone }}{% else %}No Phone{% endif %}  <br>
    		{% if guide.email %}<strong> Email: </strong>{{ guide.email }}{% else %}No email{% endif %}
  		</p>
		</div>
	</div>
</div>
<div class="content-section">
	<h2 class="monospace">{% if travels %} Available Trips: {% else %} No Available Trips {% endif %} </h2>
		{%for travel in travels %}
			<h5><a href="/travels/{{ travel.id }}">{{ travel.title }}</a></h5>
		{% endfor %}
</div>
<div class="mt-3">
	<button class="btn btn-primary ml-2" data-toggle="modal" data-target="#deleteModal" style="background-color: #b20c0c; width: 100px;">Delete</button>
</div>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="deleteModalLabel">Delete Guide?</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			<form action="{{ url_for('delete_guide', guide_id=guide.id) }}" method="POST">
				<input class="btn btn-danger" type="submit" value="Delete">
			</form>
		</div>
	</div>
</div>
</div>






{% endblock %}
