{% extends "layout.html" %}
{% block content %}
    <h1 class="mb-3">My travels ({{ travels.total }})</h1>
    {% for travel in travels.items %}
        <article class="media content-section">
          <div class="media-body">
            <h2><a href="/travels/{{ travel.id }}" class="article-title">{{ travel.title }}</a></h2>
            <p class="article-content">{{ travel.content }}</p>
          </div>
        </article>
    {% endfor %}
    {% for page_num in travels.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if travels.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('guides.guide_travels', name=guide.name, page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('guides.guide_travels', name=guide.name, page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
{% endblock content %}
