{% extends "layout.html" %}
{% block content %}
<h1 class="monospace">
  {{ travel.title }}
</h1>
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <p>With Guide:
      <a class="mr-2" href="/guides/{{ travel.guide_id }}">{{ travel.guide.name }} {{ travel.guide.surname }}</a></p>
    </div>
    <p class="article-content">{{ travel.content }}</p>
  </div>
</article>
{% if travel.guide == current_user %}
  <div class="mt-2">
    <a href="/travels/{{ travel.id }}/edit"><button class="btn btn-primary" style="background-color: #20407b; width: 100px;">Edit Trip</button></a>
    <button class="btn btn-danger ml-2" data-toggle="modal" data-target="#deleteModal" style="background-color: #b20c0c; width: 100px;">Delete</button>
  </div>
{% endif %}
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete Trip?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <form action="{{ url_for('delete_travel', travel_id=travel.id) }}" method="POST">
          <input class="btn btn-danger" type="submit" value="Delete">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
